---
layout: blog
---
<div class="p-4 divider lg:p-6">ARMCHAIR TRAVELLER</div>
<section class="grid gap-4 p-4 mt-15 lg:gap-6 lg:p-6 md:grid-cols-2">
    {% for post in collections.post %}
      {% if post.data.tags and "Armchair Traveller" in post.data.tags | reverse | limit(12) %}
        <div class="w-full max-w-sm border lg:max-w-full lg:flex border-grey">
          <div class="flex-none h-48 overflow-hidden text-center bg-cover lg:h-auto lg:w-48 lg:rounded-t-none lg:rounded-l" style="background-image: url('{{ post.data.image }}')" title="
              {% if post.data.title %}
              {{ post.data.title }}
            {% else %}
              Untitled
            {% endif %}
            ">
          </div>
          <div class="flex flex-col justify-between p-4 leading-normal bg-white ">
            <div class="mb-8 prose">
              <div class="mb-2 text-xl font-bold text-gray-900">
                <h2><a class="text-primary text-display" href="{{ post.url | url }}">
                  {% if post.data.title %}
                    {{ post.data.title }}
                  {% else %}
                    Untitled
                  {% endif %}
                </a></h2>
              </div>
              {% if post.data.description %}
                <p>
                  {{ post.data.description }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </section>