---
layout: blog
---
<h1 class="text-4xl font-display">Slow Travel</h1>
<section class="mt-15">
  {% for post in collections.post %}
    {% if post.data.tags and "Slow Travel" in post.data.tags %}
      <article class="my-8 prose">
          <h2 class="mb-2 font-display">
              <a href="{{ post.url | url }}">
                  {% if post.data.title %}
                      {{ post.data.title }}
                  {% else %}
                      Untitled
                  {% endif %}
              </a>
          </h2>
          <p class="mb-3 leading-6 ">
              <time>
                  {{ post.date | readableDate }}
                  by
                  <a>{{ post.data.author }}</a>

              </time>
          </p>
          {% if post.data.description %}
              <p class="mb-3">
                  {{ post.data.description }}
              </p>
          {% endif %}

          <p>
              <a href="{{ post.url | url }}" class="font-bold text-primary">Read more →</a>
          </p>

      </article>
    {% endif %}
  {% endfor %}
</section>