---
layout: blog
---

<section class="mt-15">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
        <article class="my-8 prose">
            <h2 class="mb-2 text-3xl font-display">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="mb-3 text-base leading-6 ">
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p class="mb-3 text-lg text-gray-500">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-lg font-bold text-primary">
                    Read more →
            </p>

        </article>
    {% endfor %}
</section>