<div class="min-h-full py-8 mb-6 hero" style="background-image: url(/static/img/mdina_sky_cropped.jpg);">
  <div class="bg-black hero-content bg-opacity-40">
    <div class="max-w-md prose text-white ">
      <h1 class="text-white font-display">Welcome</h1>
      <p>This is your place if you are curious about living abroad (Armchair Traveller), or if you are slowly travelling through countries, stopping for months or years at a time (Slow Travel), or even if you are permanently based away from your original country (Expat). In any case, you are welcome and we hope you enjoy and contribute. We are always interested in YOUR life and experience.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
{% set postslist = collections.post %}
<div class="container flex flex-wrap justify-center gap-4">
  {% for post in postslist | reverse %}
  <div class="w-full mx-4 prose shadow-xl md:mx-0 sm:w-72 card bg-base-100">
    <div class="card-body">
      <h2 class="card-title">
        <a class="text-display" href="{{ post.url | url }}">
          {% if post.data.title %}
            {{ post.data.title }}
          {% else %}
            Untitled
          {% endif %}
        </a>
      </h2>
      {% if post.data.description %}
        <p class="mb-3">
          {{ post.data.description }}
        </p>
      {% endif %}
      <p>
        <a href="{{ post.url | url }}" class="font-bold text-primary">
          Read more →
        </a>
      </p>
    </div>
    <figure><img src="/static/img/pic10.jpg" alt="Shoes" /></figure>
  </div>
  {% endfor %}
</div>
